<!doctype html>
<title>LUG Camp Kasse {{ config.LUG_CAMP_YEAR_HEADLINE }} - {% block title %}Konto{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <h1>LUG Camp Kasse</h1>
  {% if not disable_navigation %}
  <ul class=nav>
    {% if user %}
    <li><a href="{{ url_for('show_balance', code=user.code) }}">Übersicht</a>
    {% endif %}
    {% if bill %}
    <li><a href="{{ url_for('show_balance', code=bill.user.code) }}">Übersicht</a>
    {% endif %}
    {% if g.cashier %}
    <li><a href="{{ url_for('nextcustomer') }}">Nächster Kunde</a>
    <li><a href="{{ url_for('account_list') }}">Benutzerliste</a>
    {% if g.cashier and user %}
    <li><a href="{{ url_for('new_bill', code=user.code) }}">Neue Rechnung</a>
    <li><a href="{{ url_for('redeem_voucher', code=user.code) }}">Gutschein einlösen</a>
    <li><a href="{{ url_for('quick_payment', code=user.code) }}">Guthaben aufbuchen</a>
    {% endif %}
    <li><a href="{{ url_for('signout') }}">Abmelden</a>
    {% endif %}
  </ul>
  {% endif %}
  {% for message in get_flashed_messages() %}
    <p class=flash>{{ message }}
  {% endfor %}
  {% block body %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.stack.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socketio/socket.io.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lugcampkasse.js') }}"></script>
  <script type="text/javascript">
    lugcampkasse.urlRoot = {{ request.url_root|tojson|safe }};
  </script>
  {% block jscode %}{% endblock %}
</div>
