{% extends "layout.html" %}
{% from '_balance.html' import balance_for_user %}
{% block title %}Gutschein einlösen{% endblock %}
{% block body %}
  <h2>Gutschein einlösen</h2>
  <form action="{{ url_for('redeem_voucher', code=user.code) }}" method=POST>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input id=vouchercodefield type=text name=vouchercode>
    <input type=submit value="Entwerten">
  </form>
  {{ balance_for_user(user) }}
  <script type=text/javascript>
  lugcampkasse.subscribeScannedVoucher("{{ g.cashier.code }}");
  </script>
{% endblock %}
