{% extends "layout.html" %}
{% block title %}GetränkeBar - Rechnung{% endblock %}
{% from '_pagination.html' import render_pagination %}
{% from '_balance.html' import balance_for_user %}
{% block body %}
  {{ balance_for_user(bill.user) }}
  <h2>GetränkeBar</h2>
  <ul>
  {% for entry in bill.entries %}
    <li>{{ entry.name }}
    <li>{{ "%6.2f"|format(entry.price/100) }} EUR
    {% if g.cashier %}
        <a href="{{ url_for('cancel_item', code=bill.user.code, bill_id=bill.id, item_id=entry.id) }}">Storno</a>
    {% endif %}
  {% endfor %}
  </ul>
  <h2>Gesamt</h2>
  <ul>
    <li>Anzahl Posten: {{ bill.accumulated_items }}
    <li>Betrag: {{ "%6.2f"|format(bill.accumulated_price/100) }} EUR
  </ul>
{% endblock %}
