{% extends "layout.html" %}
{% block title %}Gutschein eingelöst{% endblock %}
{% block body %}
  <h2>Gutschein eingelöst</h2>
  <ul>
  	<li>Code: {{ voucher.code }}
  	<li>Gültig: {{ 'ja' if voucher.valid else 'nein' }}
    <li>Eingelöst: {{ 'ja' if voucher.redeemed else 'nein' }}
    <li>Wert: {{ "%6.2f"|format(voucher.value/100) }} EUR
  </ul>
  <h2>Neuer Kontostand</h2>
  <ul>
    <li>Name: {{ user.name }}
    <li>LUG: {{ user.lug }}
    <li>Aktueller Kontostand: <span id=balance>{{ "%6.2f"|format(user.balance/100) }}</span> EUR
  </ul>
{% endblock %}
