{% extends "layout.html" %}
{% from '_balance.html' import balance_for_user %}
{% block title %}Gutschein eingelöst{% endblock %}
{% block body %}
  <h2>Gutschein eingelöst</h2>
  <ul>
  	<li>Code: {{ voucher.code }}
  	<li>Gültig: {{ 'ja' if voucher.valid else 'nein' }}
    <li>Eingelöst: {{ 'ja' if voucher.redeemed else 'nein' }}
    <li>Wert: {{ "%6.2f"|format(voucher.value/100) }} EUR
  </ul>
  {{ balance_for_user(user) }}
  <script type=text/javascript>
  lugcampkasse.subscribeNewCustomer("{{ g.cashier.code }}");
  </script>
{% endblock %}
